# Git files themselves
.gitignore
.gitattributes

# Dataset files
nutrigenetic_dataset.zip

# Temporary directories
temp/
previous_versions/
other/

# Specific temp files (redundant with temp/ but keeping for clarity)
temp/nutrigenetic_dataset/
temp/nutrigenetic_dataset/grpm_nutrigen_int_gwas.parquet
temp/nutrigenetic_dataset/grpm_nutrigen_int.parquet
temp/nutrigenetic_dataset/grpm_nutrigen.parquet