nutrigenetic_dataset.zip
temp/
./temp/
./temp/nutrigenetic_dataset
./temp/nutrigenetic_dataset/grpm_nutrigen_int_gwas.parquet
./temp/nutrigenetic_dataset/grpm_nutrigen_int.parquet
./temp/nutrigenetic_dataset/grpm_nutrigen.parquet
